<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>webgl课程作业</title>
</head>
<body>
<h2>bird & cat</h2>
<canvas id="canvas" width="600" height="400">
	Please use a browser that supports "canvas"
</canvas>
<div id="uiContainer">
</div>
</body>

<p></p>
<button id="isAlive">自主运动</button>
<p></p>
<button id="pikaqiuForward">皮卡丘向前</button>
<button id="pikaqiuBackward">皮卡丘向后</button>
<button id="pikaqiuLeft">皮卡丘向左</button>
<button id="pikaqiuRight">皮卡丘向右</button>
<button id="pikaqiuRotate1">皮卡丘顺时针旋转</button>
<button id="pikaqiuRotate2">皮卡丘逆时针旋转</button>
<p></p>
<button id="patrickForward">派大星向前</button>
<button id="patrickBackward">派大星向后</button>
<button id="patrickLeft">派大星向左</button>
<button id="patrickRight">派大星向右</button>
<button id="patrickRotate1">派大星顺时针旋转</button>
<button id="patrickRotate2">派大星逆时针旋转</button>
<p></p>
<button id = "Button0">光x +</button>
<button id = "Button1">光x -</button>
<button id = "Button2">光y +</button>
<button id = "Button3">光y -</button>
<button id = "Button4">光z +</button>
<button id = "Button5">光z -</button>

<p> </p>
<button id = "Button6">视角移动+</button>
<button id = "Button7">视角移动-</button>

<p> </p>
<button id = "Button8">放大派大星</button>
<button id = "Button9">缩小派大星</button>

<p> </p>
<button id = "Button10">放大皮卡丘</button>
<button id = "Button11">缩小皮卡丘</button>

<script src="./js/utils/m4.js"></script>
<script src="./js/utils/tools.js"></script>
<script src="./js/utils/webgl-lessons-ui.js"></script>
<script src="./js/utils/webgl-utils.js"></script>
<script src="./model/old/tinker_utils.js"></script>
<script src="./model/old/tinker_obj_1_config.js"></script>
<script src="./model/old/tinker_obj_2_config.js"></script>
<script src="./model/old/tinker_obj_3_config.js"></script>
<script src="./model/old/tinker_obj_4_config.js"></script>
<script src="./model/better/better_model_utils.js"></script>
<script src="./model/better/patrick.js"></script>
<script src="./model/better/pikaqiu.js"></script>
<script src="./js/main.js"></script>


</html>