<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<!-- <link rel="stylesheet" type="text/css" href="index.css" /> -->
	<title>webgl 第五次作业</title>
</head>
<body>
<h1>bird & cat</h1>
<canvas id="canvas" width="600" height="400">
	Please use a browser that supports "canvas"
</canvas>
<div id="uiContainer">
</div>
</body>

<script src="./js/utils/m4.js"></script>
<script src="./js/utils/tools.js"></script>
<script src="./js/utils/webgl-lessons-ui.js"></script>
<script src="./js/utils/webgl-utils.js"></script>
<script src="./model/old/tinker_utils.js"></script>
<script src="./model/old/tinker_obj_1_config.js"></script>
<script src="./model/old/tinker_obj_2_config.js"></script>
<script src="./model/old/tinker_obj_3_config.js"></script>
<script src="./model/old/tinker_obj_4_config.js"></script>
<script src="./model/better/better_model_utils.js"></script>
<script src="./model/better/patrick.js"></script>
<script src="./model/better/pikaqiu.js"></script>
<script src="./js/main.js"></script>


</html>